.wp-caption {}
.wp-caption-text{}
.sticky{box-shadow: 0 0px 15px rgba(255, 204, 0, 0.5) !important; }
.gallery-caption{}
.alignright{text-align: right;}
.bypostauthor{}
.aligncenter{text-align: center;}
.alignleft{text-align: left;}